<?xml version="1.0"?>
<!-- By adding a Web.config file to the Admin folder, you can restrict access to the page contained in the folder. -->
<configuration>
  <system.web>
    <authorization>
      <allow roles="canEdit"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>